:root {
    --base-color: rgb(168, 172, 175);
    --base-bg-color: rgb(248, 244, 244, 1);
    --contact-bg-color: rgb(29, 27, 27);
}

body {
    font-size: 16px;
    /* direction: ltr;
    writing-mode:sideways-lr;
    text-orientation: mixed; */
    margin: 0;
    display: grid;
}

main {
    /* max-width: clamp(700px, 50%, 900px);
    padding: 0 2rem; */
    /* border-left: solid 2px black;
    border-right: solid 2px black; */
    /* margin-left: auto;
    margin-right: auto; */
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}

main > * {
    grid-column: 2;
}

.sections {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
    margin-top: 5rem;
}

.sections header h6, .sections footer h6 {
    grid-column: 2 / span 2;
    text-transform: uppercase;
    color: var(--base-color);
}

.sections header article dl, .sections footer article dl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.sections header article dl dt, .sections footer article dl dt {
    font-size: 1.2rem;
}

.sections header article dl dd, .sections footer article dl dd {
    color: var(--base-color);
}