#contactme {
    background-color: var(--contact-bg-color);
    padding: 4rem 0;
    margin: 0;
}

#contactme header {
    grid-column: 2;
    color: var(--base-color);
}

#contactme header p {
    padding: 2rem 0;
}

#contactme footer {
    grid-column: 2;
    color: var(--base-color);
    grid-row: 2;
    margin: 2rem 0
}

#contactme footer address dl {
    font-style: normal;
}

#contactme footer address dl dt {
    text-transform: uppercase;
    color: var(--base-color);
    font-size: 0.67rem;
    font-weight: 700;
}

#contactme footer address dl dd {
    margin: 0 0 2rem 0;
    padding-top: 1.2rem;
    font-size: 1.5rem;
}

#contactme footer address dl dd a {
    color: var(--base-color);
}

#contactme form {
    grid-column: 3;
    grid-row: 2;
    color: var(--base-color);
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}

#contactme form label {
    text-transform: uppercase;
    color: var(--base-color);
    font-size: 0.67rem;
    font-weight: 700;
}

#contactme form button {
    box-sizing: border-box;
    margin: 0.8rem 0;
    background-color: var(--contact-bg-color);
    color: var(--base-color);
    text-transform: uppercase;
    font-size: 0.67rem;
    padding: 0.8rem 0;
    border-style: none;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--base-color);
}

#contactme form button:hover {
    background-color: var(--base-color);
    color: var(--contact-bg-color);
    border: 0.1rem solid var(--contact-bg-color);
    transition: 600ms background-color;
}