#navigation {
    /* position: sticky; */
    top: 0;
    /* inset-inline-start: 0; */
    text-align: center;
    /* background-color: rgb(161, 158, 158); */
    z-index: 1;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    grid-column: 2;
    grid-row: 1;
}

#contacts {
    grid-column: 3;
    grid-row: 1;
}

#navigation ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0.5rem;
}

#contacts ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    
}

svg {
    height: 16px;
}

/* #navigation ul#links {
    grid: 1/2;
}

#navigation ul#social {
    grid: 1/3;
} */

a:hover, a:focus, a:visited, a:not(a:visited) {
    color: rgb(0, 0, 0);
}